* {
  font-family: 'Exo 2', sans-serif;
}

.blip-btn {
  margin-top: 20px;
}

.container {
  max-width: 600px;
}

img.center {
  display: block;
  margin: auto;
}

.ghost {
  background-color: transparent !important;
}

.user-style {
  margin-top: 0.3%;
}

div.file_area {
  margin: 0;
  padding: 0;
  width: 157px;
  height: 57px;
  background: url(https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png);
  overflow: hidden;
}

.file_area input {
  display: block !important;
  width: 157px !important;
  height: 57px !important;
  opacity: 0 !important;
  overflow: hidden !important;
}

#search {
  text-align: center;
}



gm-style-iw::webkit-scrollbar {
  width: 0px;
}

gm-style-iw::-webkit-scrollbar-track-piece
{
    background-color: transparent;
    -webkit-border-radius: 6px;
}