<div class="container" ng-controller="FormCtrl">
  <div class="jumbotron ghost">
    <img src="app/img/blip-logo.png" class="center" style="height: 160px; width: auto;">
    <form name="loginForm" validate ng-submit="handleLoginForm(user)">
      <input ng-model="user.username" class="form-control" type="text" placeholder="Username" required />
      <input ng-model="user.password" class="form-control" type="password" placeholder="Password" required />
      <button type="submit" class="btn btn-success blip-btn">Login</button>
      <button type="button" class="btn btn-primary pull-right blip-btn" data-toggle="modal" data-target="#regModal">Register</button>
    </form>
    <div ng-show="isLoginFailure">
      <div class="alert alert-danger blip-btn">
        <strong>{{errorLoginMessage}}</strong>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="regModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" align="center">Register for Blip</h4>
      </div>
      <div class="modal-body" ng-controller="FormCtrl">
        <form name="registerForm" validate ng-submit="handleRegisterForm(reg)">
          <input ng-model="reg.username" class="form-control" type="text" placeholder="Username" required />
          <input ng-model="reg.email" class="form-control" type="email" placeholder="Email" required />
          <input ng-model="reg.password" class="form-control" type="password" placeholder="Password" required />
          <button type="submit" class="btn btn-success blip-btn">Submit</button> 
        </form>
        <div ng-show="isModalInvalid">
          <div class="alert alert-danger blip-btn">
            <strong>{{errorModalMessage}}</strong>
          </div>
        </div>
        <div ng-show="!isModalInvalid && successModalMessage">
          <div class="alert alert-success blip-btn">
            <strong>{{successModalMessage}}</strong>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#regModal').off("hidden.bs.modal").on("hidden.bs.modal", function() {
    $(this).find("form")[0].reset();
  });
</script>