<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #view-x {
    height: 100%;
  }
  
  #map {
    height: 95%;;
    width: 100%;
    border-style: solid;
    border-color: black;
  }
  
  #control-map {
    height: 5%;
    width: 100%;
    border-style: solid;
    border-color: black;
    background-color: #36454f;
  }
</style>

<div ng-controller="MapCtrl" style="height: 100%;">
  <div class="container-fluid" id="control-map" ng-init="getMarkerInfo()">
    <form class="form-inline user-style">
      <div class="col col-md-4">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#profileModal">{{currentUser}}</button>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#instructModal">Instructions</button>
      </div>
      <div class="col col-md-4">
        <input type="text" id="blip-search" class="form-control" placeholder="Search Blips and Users By Username or Tag Name" ng-model="query" style="width: 70%" />
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#searchModal">Search</button>
      </div>
      <div class="col col-md-4">
        <button type="button" id="xterm" class="btn btn-danger pull-right" ng-click="handleLogout()" onClick="window.location.reload()">Logout</button>
      </div>
    </form>
  </div>
  <!-- TODO: Complete modal profile -->
  <div id="profileModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="text-align:center;">Welcome {{currentUser}}</h4>
        
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>Following</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(ID,follower) in currentFollowList">
              <td>{{ID}}</td>
            </tr>
          </tbody>
        </table>
        <form ng-submit="addFollower(follower)">
          <input type="text" class="form-control" ng-model="follower" placeholder="Add a username to Follow" />
        </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </div>
    </div>
  </div>
  <!-- TODO: Complete modal instructions for users -->
  <div id="instructModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="text-align:center;">Welcome To Blip =)</h4>
      </div>
      <div class="modal-body">
        <h2> To create blips please right click inside the circle and enter your information</h2>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </div>
    </div>
  </div>
  <!-- Create Blip Modal -->
  <div id="createModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" style="text-align:center;">Create a Blip</h4>
        </div>
        <div class="modal-body">
          <form ng-submit="createBlip(new_comment, new_tag)" validate>
            <textarea rows="5" class="form-control" placeholder="Comment" ng-model="new_comment" required />
            <input type="text" class="form-control" placeholder="Tag" ng-model="new_tag" required />
            <label class="btn btn-primary btn-file blip-btn">
              Upload Image
              <input type="file" onchange="openFile(event)" style="display:none;" accept="image/*"/>
            </label>
            <button class="btn btn-success pull-right blip-btn">Submit</button>
            <br>
            <progress value="0" max="100" class="blip_btn" id="img_upload"></progress>
            <div class="alert alert-success blip-btn" id="img_success">
              <strong>Image Successfully Uploaded</strong>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Search Blip Modal -->
  <div id="searchModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 style="text-align:center;" class="modal-title">Search Results</h4>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th>User</th>
                <th>Comment</th>
              </tr>
            </thead>
            <tbody>
              <tr style="cursor:pointer;" ng-repeat="(ID,value) in blips | blipSearch:query:currentFollowList">
                <td>{{blips[ID].owner}}</td>
                <td>{{value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <script>
    $('#img_upload').hide();
    $('#img_success').hide();
    
    var openFile = function(event) {
      var input = event.target;
      var name = input.files[0].name;
      
      var file = input.files[0];
      var uploadTask = STOR.child('images/'+ file.name).put(file);
      
      uploadTask.on('state_changed', function(snapshot) {
        // state changes
        $('#img_upload').show();
        var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
        console.log('Upload is ' + progress + '% done');
        $('#img_upload').val(progress);
      }, function(error) {
        console.log(error);
      }, function() {
        $('#img_upload').hide();
        $('#img_success').show();
        console.log(uploadTask.snapshot.downloadURL);
        localStorage.setItem('pic_url', uploadTask.snapshot.downloadURL);
      });
    }
    
    $('#createModal').off("hidden.bs.modal").on("hidden.bs.modal", function() {
    $(this).find("form")[0].reset();
    $('#img_success').hide();
  });
  </script>
  
  <div style="overflow: hidden" id="map"></div>
</div>

